{% include 'header.html' %}
<div class='container mt-5'>
    <div class="alert alert-success display-1">Filtrar alumno</div>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label class="label">Ingrese los datos en los campos respectivos, deje vacio si no buscara por ese campo.</label>
                </div>
                <div class="mb-3">
                    <label for="txt_rut" class="form-label">Rut</label>
                    <input type="text" class="form-control" id="txt_rut" name="txt_rut" placeholder="Rut">
                </div>
                <div class="mb-3">
                    <label for="txt_nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="txt_nombre" name="txt_nombre" placeholder="Nombre">
                </div>
                <div class="mb-3">
                    <label for="txt_paterno" class="form-label">Apellido Paterno</label>
                    <input type="text" class="form-control" id="txt_paterno" name="txt_paterno" placeholder="Paterno">
                </div>
                <div class="mb-3">
                    <label for="txt_materno" class="form-label">Apellido Materno</label>
                    <input type="text" class="form-control" id="txt_materno" name="txt_materno" placeholder="Materno">
                </div>
                <input type="submit" class="btn btn-success" value="filtrar">
            </div>
        </div>
    </form>
    <div class="container mt-5">
        <div class="alert alert-success display-1">Resultados</div>
        {%if alumnos%}
         <table class="table table-striped">
            <thead>
                <tr>
                    <th>id de alumno</th>
                    <th>rut de ciudad</th>
                    <th>nombre de ciudad</th>
                    <th>apellido paterno de alumno</th>
                    <th>apellido materno de alumno</th>
                    <th>direccion de alumno</th>
                    <th>email de alumno</th>
                    <th>fono de alumno</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {%for alu in alumnos%}
                <tr>
                    <td>{{alu.id}}</td>
                    <td>{{alu.ALUMRUT}}</td>
                    <td>{{alu.ALUMNOMBRE}}</td>
                    <td>{{alu.ALUMAPATERNO}}</td>
                    <td>{{alu.ALUMAMATERNO}}</td>
                    <td>{{alu.ALUMDIRECCION}}</td>
                    <td>{{alu.ALUMEMAIL}}</td>
                    <td>{{alu.ALUMFONO}}</td>
                    <td>
                        <a href="../view-alumnos/{{alu.id}}"
                          class='btn btn-success'><i class="bi bi-eye"></i>
                       </a>
                    </td>
                    <td>
                        <a href="../actualizar_Alumno/{{alu.id}}"
                          class='btn btn-warning'><i class="bi bi-pencil"></i>
                       </a>
                    </td>
                    <td>
                        <a href="../delete_Alumno/{{alu.id}}"
                          class='btn btn-danger'><i class="bi bi-trash"></i>
                       </a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
         </table>
        {%else%}
            <div class="alert alert-info">No Hay Alumnos!!!!</div>
        {%endif%}
    </div> 
</div>
{% include 'footer.html' %}